
project_id = "vkjrqirvdvjbemsfzxof"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]

[db]
port = 54322

[studio]
port = 54323

[inbucket]
port = 54324

[auth]
enabled = true
port = 54325

[realtime]
enabled = true

[storage]
enabled = true

[edge_functions]
[edge_functions.create-prize-clues-table]

[edge_functions.geocode-address]

[edge_functions.generate-prize-clues]

[edge_functions.insert-prize-clues]
