
project_id = "vkjrqirvdvjbemsfzxof"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]

[db]
port = 54322

[realtime]
enabled = true

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true

[auth]
enabled = true

[functions]
[functions.send-contact-email]
verify_jwt = false

[functions.send-mailjet-email]
verify_jwt = false

[functions.send-email]
verify_jwt = false
