
project_id = "vkjrqirvdvjbemsfzxof"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true
port = 54325

[auth]
enabled = true
port = 54326

[realtime]
enabled = true
port = 54327

[edge_functions]
enabled = true
port = 54328

# Add this to configure Mailjet function to run without authentication
[functions.send-mailjet-email]
verify_jwt = false
