
project_id = "vkjrqirvdvjbemsfzxof"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324

[auth]
enabled = true
port = 54325

[storage]
enabled = true
port = 54326

[edge-functions]
[edge-functions.send-mailjet-email]
verify_jwt = true

[edge-functions.send-push-notification]
verify_jwt = true

[edge-functions.send-registration-email]
verify_jwt = true
