/* © 2025 M1SSION™ NIYVORA KFT – Joseph MULÉ */

.m1-cyan-dot {
  background: transparent; 
  position: relative;
}

.m1-cyan-dot .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #22d3ee;
  box-shadow: 0 0 10px 3px rgba(34, 211, 238, .9);
  transform: translate(3px, 3px);
}