
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

body, html {
  background-color: #000;
  color: #fff;
}
